@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --primary-Dark-cyan: hsl(185, 75%, 39%);
    --primary-Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --neutral-Dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    display: flex;
    background-color: var(--primary-Dark-cyan);
    height: 720px;
    background-image: url(./Resources/images/bg-pattern-bottom.svg), url(./Resources/images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: top 397px left 626px, top -504px left -337px;
}

.Profile-card {
    margin: auto;
    height: 374px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.Profile-card__image {
    width: 100%;
    display: block;
}

.Profile-card__content {
    background-color: white;
    height: 234px;
    position: relative;
}

.Profile-card__content::before {
    content: "";
    background-image: url(./Resources/images/image-victor.jpg);
    position: absolute;
    top: 0;
    left: 50%;
    width: 96px;
    height: 96px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 4px solid white;
}

.Profile-card__name {
    color: var(--primary-Very-dark-desaturated-blue);
    font-size: 1.6rem;
    margin-top: 72px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.Profile-card__name>span {
    color: var(--neutral-Dark-gray);
    margin-left: 4px;
}

.Profile-card__place {
    color: var(--neutral-Dark-gray);
    opacity: 0.5;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 12px;
}

.Profile-card__Interactive {
    font-size: 0;
    display: flex;
    justify-content: space-evenly;
    height: 88px;
    margin-top: 23px;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.Interactive__Index {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    gap: 8px;
    justify-content: center;
}

.Index__Amount {
    color: var(--primary-Very-dark-desaturated-blue);
    font-size: 1.6rem;
    font-weight: 700;
}

.Index__Name {
    color: var(--neutral-Dark-gray);
    font-size: 1rem;
}